.DS_Store
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/__sapper__/
src/routes/_importaciones
src/routes/_importaciones_clientes
log-especifico.txt
/nbproject/private/
/src/server.js